h1 {
    margin: -16px 0 0;
}
pre {
    font-size: 0.85em;
}
.only-data {
    background-color: antiquewhite;
    padding: 8px 16px;
    border-radius: 10px;
    margin: 32px 0;
}
.about {
    margin-top: 48px;
    font-size: 0.85em;
}
.about .logo {
    text-align: center;
    margin: 32px 0 0;
}
.basic-render .download {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 8px;
}
.subscribe {
    padding: 16px 32px;
    border-radius: 10px;
    margin: 32px 0;
    background-color: #99ebfa;
}