.section-1 h2 {
    color: darkviolet;
}
.content code {
    color: red;
}
.menu a + a {
    margin-left: 20px;
}
h2, h3, h4, h5, h6 {
    font-size: 1em;
}
h1 {
    margin: -16px 0 0;
}

.how pre {
    font-size: 0.85em;
}
.only-data {
    background-color: antiquewhite;
    padding: 8px 16px;
    border-radius: 10px;
}